.ProjectBackground {
    color: #f2f2f2;
    height: 400px;
    display: flex;
    align-items: center;
    /*justify-content: center;*/

}
.ProjectTitle {
    font-weight: bolder;
    font-size: 7vh;
    width: 80%;
    margin: auto;
    text-align: center;
}

.Nav{
    position: absolute;
    width: 100%;
    top:0;
}

.MovingText{
    /*position: absolute;*/
    /*top: 320px;*/
    /*left: 50%;*/
    /*color: white;*/
    /*font-size: 4vh;*/
}
