.ProjectBackground {
    color: #f2f2f2;
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.ProjectTitle {
    font-weight: bolder;
    font-size: 3.5em;
}

.Nav{
    position: absolute;
    width: 100%;
    top:0;
}
