.ProjectImage {
    height: auto;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.5);

    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}


.ProjectImage:hover {
    /*opacity:.9;*/
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.ProjectTile {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 30px;
}

.ImageName {
    font-size: 2.5vh;
    font-weight: bolder;
    padding-top: 15px;
    /*color: #366E9D;*/
    color: #B0BEC5;
    width: 300px;
    text-align: center;
}

.Projects {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.Lang {
    padding-left: 5px;
    padding-right: 5px;
}
