.Courses {
    font-weight: bolder;
    font-size: 1.6em;
    display: inline-block;
    text-decoration: none;
    padding-top: 20px;
    /*color: black;*/
    color: #B0BEC5;
}

.CenterCourses {
    width: 60%;
    margin: auto;
    text-align: center;
}

.LinkText {
    text-decoration: none;
}

.ClassNameText {
    color: #00a652;
    font-weight: bolder;
    font-size: .9em;
    text-decoration: none;
}

