.Name {
    color: white;
    font-size: 3.3vh;
}

.Banner {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 678px;
    margin: auto;

}

.BannerName {
    /*color:#183D6E;*/
    color: white;
    padding-bottom: 10px;
}

.MyName {
    background: linear-gradient(135deg, #34b288, #7bc059);
    padding: .4vh 1vh .4vh 1vh;
}


.SmallText {
    font-size: 2.5vh;
    padding-top: 30px;
    font-weight: 200;
}

@media only screen and (max-width: 600px) {
    .SmallText {
        text-align: center;
    }

    .BigText {
        font-size: 3vh;
        display: inline-block;
    }

}

.FullStack {
    display: inline-block;
    color: white;
}

.TypedText {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
}