.Name {
    color: white;
    font-size: 24px;
}

.Banner {
    margin: auto;
    width: 32%;
    padding-top: 180px;

}

.BannerName {
    color:#183D6E;
}

.BannerInfo{
    color:#f2f2f2;
    font-weight:bold;
    font-size:32px;
}

.BigText{
    font-size: 32px;
    padding-top: 15px;
    color: white;
}

.SmallText{

    font-size: .55em;
    padding-top: 30px;
    font-weight: 200;
}


.FullStack{
    display: inline-block;
    color: white ;
}