.Name {
    color: white;
    font-size: 3.3vh;
}

.Banner {
    position: relative;
    width: 30%;
    margin: auto;
    padding-top: 180px;
}

.BannerName {
    /*color:#183D6E;*/
    color: white;
}

.MyName {
    background: linear-gradient(135deg, #34b288, #7bc059);
    padding: .2em;
}

.BannerInfo {
    color: #f2f2f2;
    font-weight: bold;
    /*font-size: 32px;*/
    font-size: 4vh;
}

.BigText {
    font-size: 4vh;
    padding-top: 15px;
    color: white;
}

.SmallText {
    font-size: 2.5vh;
    padding-top: 30px;
    font-weight: 200;
}

.FullStack {
    display: inline-block;
    color: white;
}